@import "./foundation-emails.scss";
@import "./variables.scss";

table.body {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  Margin: 0 auto;
  background: #fff;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
  Margin: 0 auto;
  padding: 0;
  Padding: 0;
  max-width: 768px;
  width: 100%;
  line-height: 1.5;

  &.row {
    margin: 0 auto;
    Margin: 0 auto;
  }
}

a {
  display: inline-block;
}

.block-center {
  width: 24em;
  margin: 0 auto;
  Margin: 0 auto;
}

.header {
  width: 100%;
  margin: 0 auto;
  Margin: 0 auto;

  &__logo {
    width: auto;
    margin: 0 auto;
    Margin: 0 auto;

    img {
      margin: 0 auto;
      Margin: 0 auto;
    }
  }
}

.baseText {
  font-family: Arial;
  color: #171717;
  margin: 0 auto;
  Margin: 0 auto;

  &__h1 {
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
  }

  &__h2 {
    font-size: 22px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
  }

  &__h4 {
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
  }

  &__h5 {
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
  }

  &__p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }
}

.mb_16 {
  margin-bottom: 16px;
  Margin-bottom: 16px;
}

.baseButton {
  margin: 0 auto;
  Margin: 0 auto;
  padding: 0 0 13px 0;
  Padding: 0 0 13px 0;


  td {
    width: 240px;
    text-align: left;
    background: #043566 !important;
    text-align: center;
    border-radius: 44px;
  }

  a {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }
}
