html(lang="ru")
  head
    title Coalla Emails
    meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='css/inline.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')


  body
    table.body
      tr
        td(valign='top')

          table.spacer
            tbody
              tr
                td(style='font-size:0;line-height:0;padding-bottom:64px;')

          table.header
            tr
              td.header__logo
                img(src='https://i.ibb.co/Smcxdrj/Logotype.png', alt='header', width='174px', height='24px')

          table.spacer
            tbody
              tr
                td(style='font-size:0;line-height:0;padding-bottom:24px;')

          table.row
            tbody
              tr
                th
                  p.baseText.baseText__h1(style="text-align:center; max-width: 412px") Дилерская конференция 29 августа, 2019

          table.spacer
            tbody
              tr
                td(style='font-size:0;line-height:0;padding-bottom:10px;')

          table.row
            tbody
              tr
                th
                  p.baseText.baseText__p(style="text-align:center") Технопарк Сколково, Конференц-зал «Казан»

          table.spacer
            tbody
              tr
                td(style='font-size:0;line-height:0;padding-bottom:32px;')

          table.baseImg
            tr
              td.baseImg__banner
                img(src='https://i.ibb.co/yRtdt4X/Image.png', alt='header', width='100%', height='144px')

          table.spacer
            tbody
              tr
                td(style='font-size:0;line-height:0;padding-bottom:96px;')

          table.row
            tbody
              tr
                th
                  p.baseText.baseText__h2(style="text-align:center; max-width: 412px") Основные темы конференции

          table.row
            tbody
              tr
                th
                  p.baseText.baseText__h4(style="text-align:center; max-width: 412px") Mobility  •  Innovation  •  Future

          table.spacer
            tbody
              tr
                td(style='font-size:0;line-height:0;padding-bottom:44px;')

          table.row(style="max-width: 512px")
            tbody
              tr
                td.large-1
                  center
                    img.mb_16(src='https://i.ibb.co/Tksj6XM/Itog.png', alt='Totals', width='48px', height='48px')
                    p.baseText.baseText__h5(style="text-align:center;") Итоги
                    p.baseText.baseText__p(style="text-align:center;") Первого полугодия
                td.large-1
                  center
                    img.mb_16(src='https://i.ibb.co/1ZZt3js/Frame.png', alt='Hyundai Mobility', width='48px', height='48px')
                    p.baseText.baseText__h5(style="text-align:center;") Hyundai Mobility
                    p.baseText.baseText__p(style="text-align:center;") Новый сервис
                td.large-1
                  center
                    img.mb_16(src='https://i.ibb.co/DKzfC8f/Frame-1.png', alt='Plans', width='48px', height='48px')
                    p.baseText.baseText__h5(style="text-align:center;") Планы
                    p.baseText.baseText__p(style="text-align:center;") На конец года

          table.spacer
            tbody
              tr
                td(style='font-size:0;line-height:0;padding-bottom:40px;')

          table.row
            tbody
              tr
                td.large-2
                  img(src='https://i.ibb.co/q95JTWp/bg.png', alt='bg', width='214px', height='77px')
                td.large-5
                  table.baseButton
                    tr
                      td(style="padding: 15px 32px;background: #043566 !important;color:#ffffff; border-radius: 44px;")
                        a(href='#',  title="Ваше персональное приглашение") Ваше персональное приглашение
                td.large-2
                  img(src='https://i.ibb.co/q95JTWp/bg.png', alt='bg', width='214px', height='77px')
//-           table.container
//-             tbody
//-               tr
//-                 td
//-                   table.spacer
//-                     tbody
//-                       tr
//-                         td(style='font-size:0;line-height:0;padding-bottom:19px;')

//-                   table
//-                     tr
//-                       td
//-                         p.baseText.baseText--right.baseTextSection__middle(style="text-align:right;") Ваши баллы:
//-                           span.baseText.baseText--blue 0

//-                   table.spacer
//-                     tbody
//-                       tr
//-                         td(style='font-size:0;line-height:0;padding-bottom:40px;')

//-                   table.row.baseTextSection
//-                     tbody
//-                       tr
//-                         th
//-                           table
//-                             tr
//-                               th
//-                                 p.baseText.baseText--left.baseTextSection__subtitle(style="text-align:left;") Подарок и новинки от Panasonic – техника «Experience Fresh» !

//-                                 table.spacer
//-                                   tbody
//-                                     tr
//-                                       td(style='font-size:0;line-height:0;padding-bottom:28px;')

//-                                 p.baseText.baseText--left.baseTextSection__text(style="text-align:left;") Мы знаем, как важно здоровое питание – залог активной,
//-                                   | качественной жизни. Совместно с шеф-поварами со всей Европы мы разработали полезные и вкусные рецепты для тех, кто заботится
//-                                   | о здоровье для себя и близких. Однако для нас приготовление еды – это не просто рецепт, это целая философия.

//-                                 table.spacer
//-                                   tbody
//-                                     tr
//-                                       td(style='font-size:0;line-height:0;padding-bottom:24px;')

//-                                 p.baseText.baseText--left.baseTextSection__text(style="text-align:left;") Япония славится как страна долгожителей, благодаря своей культуре
//-                                   | здорового питания Мы хотим разделить с вами эти ценности и представить новую концепцию – Experience Fresh, вдохновленную
//-                                   | лучшими традициями японского качества и инновациями в кулинарии.

//-                                 table.spacer
//-                                   tbody
//-                                     tr
//-                                       td(style='font-size:0;line-height:0;padding-bottom:24px;')

//-                                 p.baseText.baseText--left.baseTextSection__text(style="text-align:left;") Благодаря передовым технологиям, техника Panasonic
//-                                   | из коллекции Experience Fresh помогает готовить особенно бережно, сохраняя в продукте максимальное количество
//-                                   | полезных веществ и витаминов. Приготовление даже самых изысканных блюд становится намного приятнее, полезнее и легче!

//-                   table.spacer
//-                     tbody
//-                       tr
//-                         td(style='font-size:0;line-height:0;padding-bottom:24px;')

//-                   table.row.baseImage
//-                     tbody
//-                       tr
//-                         td
//-                           img(src='https://ef.panasonic.ru/emails/2018.12.10/images/3.png', alt='Свежие идеи для здорового питания', width='480px', height='270px')

//-                   table.spacer
//-                     tbody
//-                       tr
//-                         td(style='font-size:0;line-height:0;padding-bottom:24px;')  

//-                   table.row.baseTextSection
//-                     tbody
//-                       tr
//-                         th
//-                           table
//-                             tr
//-                               th
//-                                 p.baseText.baseText--left.baseTextSection__text(style="text-align:left;") Вам больше не нужно думать, что полезного приготовить на завтрак,
//-                                   | обед и ужин. Мы уже продумали за вас- вам остается только сделать выбор.

//-                                 table.spacer
//-                                   tbody
//-                                     tr
//-                                       td(style='font-size:0;line-height:0;padding-bottom:24px;')

//-                                 a.baseText.baseText--center.baseTextSection__link(href="", title="Получите подарок - лучшие рецепты для техники Panasonic Experience Fresh!", style="text-align:center;") Получите подарок
//-                                   | - лучшие рецепты для техники Panasonic Experience Fresh!

//-                                 table.spacer
//-                                   tbody
//-                                     tr
//-                                       td(style='font-size:0;line-height:0;padding-bottom:24px;')

//-                                 p.baseText.baseText--left.baseTextSection__text(style="text-align:left;") Experience Fresh предоставит вам полную свободу для творчества и самовыражения,
//-                                   | сделает моменты, проведенные на кухне, особенно приятными. Радуйте себя и близких полезной и вкусной едой ежедневно!

//-                   table.spacer
//-                     tbody
//-                       tr
//-                         td(style='font-size:0;line-height:0;padding-bottom:20px;')  

//-                   table.row.baseImage.baseImage--small
//-                     tbody
//-                       tr
//-                         td(style="text-align: center")
//-                           img(src='https://ef.panasonic.ru/emails/2018.12.10/images/2.png', alt='Свежие идеи для здорового питания', width='250px', height='100px')

//-                   table.spacer
//-                     tbody
//-                       tr
//-                         td(style='font-size:0;line-height:0;padding-bottom:30px;')  

//-                   table.row.baseTextSection
//-                     tbody
//-                       tr
//-                         th
//-                           table
//-                             tr
//-                               th
//-                                 p.baseText.baseText--center.baseTextSection__text(style="text-align:center;") Вперед за свежими идеями для здорового питания!
//-                   table.spacer
//-                     tbody
//-                       tr
//-                         td(style='font-size:0;line-height:0;padding-bottom:25px;')  

//-                   table.blue-button
//-                     tr
//-                       td
//-                         table
//-                           tr
//-                             td(style="padding: 15px 71px;background: #1592E6 !important;color:#ffffff;")
//-                               a(href='#',  title="Перейти на сайт") Перейти на сайт

//-                   table.spacer
//-                     tbody
//-                       tr
//-                         td(style='font-size:0;line-height:0;padding-bottom:25px;')  

//-                   table.row.baseTextSection
//-                     tbody
//-                       tr
//-                         th
//-                           table
//-                             tr
//-                               th
//-                                 p.baseText.baseText--center.baseTextSection__text.baseTextSection__text--small(style="text-align:center;") Если у вас есть вопросы или пожелания, пожалуйста, обратитесь в службу поддержки

//-                   table.spacer
//-                     tbody
//-                       tr
//-                         td(style='font-size:0;line-height:0;padding-bottom:40px;')  

//-                   table.row.footer-links
//-                     tbody
//-                       tr
//-                         th
//-                           table.footer-links
//-                             tr
//-                               td.baseTextSection__link.baseTextSection__link--small
//-                                 a(href='#', title="Онлайн–версия письма", style="font-size: 10px;").baseTextSection__link.baseTextSection__link--small Онлайн–версия письма
//-                               td.baseTextSection__link.baseTextSection__link--small
//-                                 a(href='#', title="Есть вопросы? Напишите нам", style="font-size: 10px;").baseTextSection__link.baseTextSection__link--small Есть вопросы? Напишите нам
//-                               td.baseTextSection__link.baseTextSection__link--small
//-                                 a(href='#', title="Отказаться от рассылки", style="font-size: 10px;").baseTextSection__link.baseTextSection__link--small Отказаться от рассылки

//-                   table.spacer
//-                     tbody
//-                       tr
//-                         td(style='font-size:0;line-height:0;padding-bottom:40px;')  

//-                   table.social-links
//-                     tr
//-                       th.social-links__item
//-                         td
//-                           a(href='www.facebook.com/panasonic.ru',  title="Facebook")
//-                             img(src='https://ef.panasonic.ru/emails/2018.12.10/images/sociallinks_image1_new.png', alt='Facebook', width='30px', height='30px')
//-                       th.social-links__item
//-                         td
//-                           a(href='www.vk.com/panasonic',  title="Вконтакте")
//-                             img(src='https://ef.panasonic.ru/emails/2018.12.10/images/sociallinks_image3_new.png', alt='Вконтакте', width='30px', height='30px')
//-                       th.social-links__item
//-                         td
//-                           a(href='www.instagram.com/panasonicrussia/',  title="Instagram")
//-                             img(src='https://ef.panasonic.ru/emails/2018.12.10/images/sociallinks_image5_new.png', alt='Instagram', width='30px', height='30px')
//-                       th.social-links__item
//-                         td
//-                           a(href='www.ok.ru/group/55735469998098',  title="Одноклассники")
//-                             img(src='https://ef.panasonic.ru/emails/2018.12.10/images/sociallinks_image2_new.png', alt='Одноклассники', width='30px', height='30px')
//-                       th.social-links__item
//-                         td
//-                           a(href='www.youtube.com/user/PanasonicRU',  title="YouTube")
//-                             img(src='https://ef.panasonic.ru/emails/2018.12.10/images/sociallinks_image4_new.png', alt='YouTube', width='30px', height='30px')

//-                   table.spacer
//-                     tbody
//-                       tr
//-                         td(style='font-size: 0; line-height: 0;padding-bottom: 43px;')  
